html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: $background;
  overflow: hidden;
}

.info-box {
  position: relative;
  background-color: $default-base-opacity;
  padding: 20px 20px;

  > p {
    color: $default-base-brown;
  }

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background: $default-base;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.info-box-transparent-bg {
  background-color: transparent;

  > p {
    color: $default-text;
  }
}

// SOCIALS IMAGES
.social-img {
  height: 36px;
  width: 36px;
}
